
{% extends 'main/base.html' %}
{% load question_filters %}

{% block title%}
Questions
{% endblock %}

{% block content%}

<!--<div class="container">-->
<!--      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--      <div class="container-fluid">-->
<!--        {% for item in questions %}-->
<!--          <p>Title: {{item.title}} Text: {{item.text}}<a href="/questions/{{item.id}}">-->
<!--          {{item.id}}</a></p>-->
<!--        {% endfor %}-->
<!--        <h1>{{answer.text}}</h1>-->
<!--      </div>-->
<!--      <nav><table class="pagination">-->
<!--      {% for p in paginator.page_range %}-->
<!--        {% if p.number == page.number %}-->
<!--          <tr class="active">-->
<!--        {% else %}-->
<!--          <tr>-->
<!--        {% endif %}-->
<!--        <a href="{{ paginator.baseurl }}{{ p }}">-->
<!--          {{ p }}</a>-->
<!--        </tr>-->
<!--      {% endfor %}-->
<!--      </table></nav>-->
<!--    </div>-->

    <div class="container">
        <div id="content" class="snippet-hidden">


<div>




        <div class="d-flex">
                <h1 class="flex--item fl1 fs-headline1">
                        Questions
                </h1>
                <div class="ml12 aside-cta flex--item print:d-none">
                        <a href="/questions/ask" class="ws-nowrap s-btn s-btn__primary">
        Ask Question
    </a>

                </div>
            </div>


        <div class="d-flex ai-center mb16">
            <div class="flex--item fl1 fs-body3"></div>
            <div class="flex--item">
                <div class=" d-flex s-btn-group js-filter-btn">
        <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined" href="?tab=popular">
            Popular</a>
<!--        <a class="js-sort-preference-change flex&#45;&#45;item s-btn s-btn__muted s-btn__outlined" href="?tab=bounties" data-nav-xhref="" title="Questions with an active bounty" data-value="bounties" data-shortcut="B">-->
<!--<span class="bounty-indicator-tab">310</span>Bountied</a>-->
        <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined" href="?tab=new" >
            New</a>

</div>

            </div>
        </div>


        <div id="qlist-wrapper" class="flush-left">
            <div id="question-mini-list">
                <div>

{% for item in questions %}

<div  class="s-post-summary js-post-summary">
    <div class="s-post-summary--stats js-post-summary-stats">


        <div class="s-post-summary--stats-item s-post-summary--stats-item__emphasized" title="Score of 0">
            <span class="s-post-summary--stats-item-number">0</span>
            <span class="s-post-summary--stats-item-unit">votes</span>
        </div>
        <div class="s-post-summary--stats-item  " title="0 answers">
            <span class="s-post-summary--stats-item-number">0</span>
            <span class="s-post-summary--stats-item-unit">answers</span>
        </div>



    </div>

<!--    !important-->
    <div class="s-post-summary--content">

        <h3 class="s-post-summary--content-title">
            <a href="/questions/{{item.id}}" class="s-link">{{item.title}}</a>
        </h3>



        <div class="s-post-summary--meta">

<!--            !important tags-->
            <div class="s-post-summary--meta-tags tags js-tags t-c&#xF1; t-asp&#xFB;net-mvc t-umbraco t-captcha">

<!--                <a href="/questions/tagged/c%23"-->
<!--                   class="post-tag flex&#45;&#45;item mt0 js-tagname-cñ"-->
<!--                   title="show questions tagged &#39;c#&#39;"-->
<!--                   rel="tag">c#</a>-->

            </div>



            <div class="s-user-card s-user-card__minimal">

            <a href="" class="s-avatar s-avatar__16 s-user-card--avatar">
                <div class="gravatar-wrapper-16" data-user-id="15321226"></div>
            </a>


    <div class="s-user-card--info">
            <div class="s-user-card--link d-flex gs4" >
                <a href="" class="flex--item">{{item.author}}</a>
            </div>



    </div>
<!--!important date diff-->
        <time class="s-user-card--time">
                <a href=""
                   class="s-link s-link__muted">
                    <span title="{{item.added_at}}" class="relativetime">
                        {{item.added_at|time_difference}}
                    </span>
                </a>
            </time>
</div>


        </div>



    </div>
</div>

{% endfor %}

                </div>
            </div>
        </div>



</div>

        </div>
    </div>

{% endblock %}